<template>
  <q-page class="row q-mt-sm q-mb-xl font-raleway">
    <div class="col-6 row">
      <div class="column q-pt-sm">
        <div class="row q-col-gutter-x-lg" >
          <div class="col-6"><q-btn no-caps align="left" :class="{tabActive: isDeliver, tabPassive: !isDeliver}" class="tab-basket q-pl-lg font-raleway text-body1 text-weight-bold full-width" @click="isDeliver = true, isPickUp = false">Доставка</q-btn></div>
          <div class="col-6"><q-btn no-caps align="left" :class="{tabActive: isPickUp, tabPassive: !isPickUp}" class="tab-basket q-pl-lg font-raleway text-body1 text-weight-bold full-width" @click="isDeliver = false, isPickUp = true">Самовывоз</q-btn></div>
        </div>
        <div class="column">
          <div class="text-caption q-mt-md">Мы доставляем товары только в городе Санкт-Петербург</div>
          <div class="text-body1 q-my-lg text-weight-bold">Личные данные</div>
          <div class="row q-col-gutter-lg">
            <q-input dense class="col-6" filled v-model="text" label="Имя"/>
            <q-input dense class="col-6" filled v-model="text" label="Фамилия" />
            <q-input dense class="col-6" filled v-model="text" label="Телефон" />
            <q-input dense class="col-6" filled v-model="text" label="E-mail" />
            <q-input dense v-if="isDeliver" class="col-12" filled v-model="text" label="Адрес доставки" />
          </div>
          <div v-if="isDeliver" class="text-caption q-mt-sm">Мы доставим товар не позже 72 часов после оформления заказа</div>
          <div v-if="isPickUp" class="q-my-lg">
            <div class="text-body1 q-mb-lg text-weight-bold">Пункт самовывоза</div>
            <img src="../statics/map.png"/>
            <div class="row q-mt-lg q-col-gutter-x-xl">
              <div>Санкт-Петербург <br>Щербаков пер., 4</div>
              <div>тел. +7(931)-530-71-14</div>
            </div>
          </div>
          <div class="text-body1 q-my-lg text-weight-bold">Способ оплаты</div>
          <div class="row q-col-gutter-lg">
            <div class="col-6"><q-radio class="payment full-width q-py-xs" color="grey-6" v-model="tip" val="first">При получении</q-radio></div>
            <div class="col-6"><q-radio class="payment full-width q-py-xs" color="grey-6" v-model="tip" val="second">Картой</q-radio></div>
          </div>
          <q-btn flat no-caps class="q-mt-lg q-py-sm font-raleway bg-grey-8 text-white">Оформить заказ</q-btn>
          </div>
        </div>
    </div>
    <q-separator class="q-mx-lg" vertical/>
    <div class="col">
      <div class="row q-pt-sm" v-for="i in 3" :key="i.index">
        <q-img class="basket-img" src="../statics/slider/slide1.png" :ratio="80/80"></q-img>
        <div class="column q-pl-lg">
          <div class="row justify-end q-ml-xl"><q-icon name="img:../statics/icons/delete.svg"></q-icon></div>
          <div class="text-body1 font-playfair q-pr-xl">Корзина с розами и пионами</div>
          <div class="text-weight-bold">2998 руб.</div>
          <div class="text-h5 row q-gutter-x-sm items-center justify-end">
            <div class="q-pt-xs cursor-pointer">+</div>
            <div class="font-raleway">1</div>
            <div class="cursor-pointer">-</div>
          </div>
        </div>
        <q-separator class="q-my-lg col-12"/>
      </div>
      <div class="text-h5 text-weight-bolder font-cleanvel q-ml-lg"><span class="text-weight-regular">Итого: </span>5977 руб.</div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Basket',
  data () {
    return {
      tab: 'deliver',
      isDeliver: true,
      isPickUp: false,
      text: '',
      tip: ''
    }
  }
}
</script>

<style scoped>

</style>
