<template>
  <q-page class="q-mt-sm font-raleway">
    <div class="sort row justify-end q-mb-lg">
      <div class="text-caption cursor-pointer q-ml-lg" @click="isTransformPop = !isTransformPop"><span>По популярности</span><q-icon :class="{ trans : isTransformPop}" class="q-ml-xs q-mb-xs" name="img:../statics/icons/arrowSort.svg"></q-icon></div>
      <div class="text-caption cursor-pointer q-ml-lg" @click="isTransformMon = !isTransformMon"><span>По цене</span><q-icon :class="{ trans : isTransformMon}" class="q-ml-xs q-mb-xs" name="img:../statics/icons/arrowSort.svg"></q-icon></div>
      <div class="text-caption cursor-pointer q-ml-lg" @click="isTransformDat = !isTransformDat"><span>По дате</span><q-icon :class="{ trans : isTransformDat}" class="q-ml-xs q-mb-xs" name="img:../statics/icons/arrowSort.svg"></q-icon></div>
    </div>
    <div class="row q-col-gutter-x-lg q-mb-xl">
      <div class="col-3 column">
        <div class="bg-green-1 q-mb-lg">
          <div class="text-body1 font-playfair q-ml-md q-py-sm row items-center">
            <div>Вид цветов</div>
          </div>
          <q-separator color="black"/>
          <div class="q-py-md column">
            <q-checkbox v-model="flowers" v-for="item in defCategory('flower')" :key="item.id" :val="item.name" :label="item.name" color="black" />
          </div>
        </div>
        <div class="bg-green-1 q-mb-lg">
          <div class="text-body1 font-playfair q-ml-md q-py-sm row items-center">
            <div>Цена</div>
          </div>
          <q-separator color="black"/>
          <div class="q-py-md column">
            <q-checkbox v-model="price" val="1000" label="до 1000 руб." color="black" />
            <q-checkbox v-model="price" val="2000" label="1000 - 2000 руб." color="black" />
            <q-checkbox v-model="price" val="3000" label="2000 - 3000 руб." color="black" />
            <q-checkbox v-model="price" val="4000" label="3000 - 4000 руб." color="black" />
            <q-checkbox v-model="price" val="5000" label="от 5000 руб." color="black" />
          </div>
        </div>
        <div class="bg-green-1 q-mb-lg">
          <div class="text-body1 font-playfair q-ml-md q-py-sm row items-center">
            <div>Цветовая гамма</div>
          </div>
          <q-separator color="black"/>
          <div class="q-py-md column">
            <q-checkbox v-model="colors" v-for="item in defCategory('color')" :key="item.id" :val="item.name" :label="item.name" color="black" />
          </div>
        </div>
        <div class="bg-green-1 q-mb-lg">
          <div class="text-body1 font-playfair q-ml-md q-py-sm row items-center">
            <div>Упаковка</div>
          </div>
          <q-separator color="black"/>
          <div class="q-py-md column">
            <q-checkbox v-model="adds" v-for="item in defCategory('add')" :key="item.id" :val="item.name" :label="item.name" color="black" />
          </div>
        </div>
        <q-btn flat no-caps class="text-white bg-grey-8 text-weight-medium font-raleway" @click="useFilters">Применить фильтры</q-btn>
      </div>
      <div class="col-9 row q-col-gutter-lg q-mb-xl">
        <div class="col-4" v-for="product in products.slice(0, endIndex)" :key="product.id">
          <card-product :item="product" />
        </div>
        <div class="col-12 row justify-center q-mt-xl">
          <q-btn v-if="isStill" flat no-caps :loading="loading" class=" text-weight-bold font-raleway" label="Показать ещё..." @click="showStill">
            <template v-slot:loading>
              <q-spinner-facebook />
            </template>
          </q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import CardProduct from '../components/Card_Product'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Catalog',
  components: {
    CardProduct
  },
  data () {
    return {
      isTransformPop: false,
      isTransformMon: false,
      isTransformDat: false,
      flowers: [],
      colors: [],
      adds: [],
      price: [],
      loading: false,
      filter: {},
      categories: null,
      isFilter: false,
      isStill: true,
      endIndex: 15
    }
  },
  computed: {
    ...mapGetters({
      defCategory: 'categories/defCategory'
    }),
    products: function () {
      if (this.isFilter) {
        return this.$store.getters['products/filterProducts']
      } else {
        return this.$store.getters['products/products']
      }
    }
  },
  methods: {
    ...mapActions({
      getInfo: 'products/getProducts',
      getCategories: 'categories/getCategories',
      filterProducts: 'products/filterProducts',
      updateAuth: 'auth/auth/updateAuth',
      getUser: 'auth/user/getUser'
    }),
    simulateProgress () {
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 1500)
    },
    getFilter () {
      this.filter.flowers = this.flowers
      this.filter.adds = this.adds
      this.filter.colors = this.colors
      this.filter.min = this.price.sort()[0] - 1000
      this.filter.max = this.price.sort()[this.price.length - 1]
    },
    useFilters () {
      this.getFilter()
      this.filterProducts(this.filter)
      this.isFilter = true
    },
    showStill () {
      this.simulateProgress()
      this.endIndex += 15
      if (this.endIndex > this.products.length) {
        this.endIndex = this.products.length
        this.isStill = false
      }
    }
  },
  mounted () {
    this.getInfo()
    this.getCategories().then(() => {
      this.categories = this.$store.getters['categories/categories']
    })
  }
}
</script>

<style scoped>

</style>
