<template>
  <q-page сlass="q-mt-md">
    <q-card flat square class="my-card flex row no-wrap justify-between bg-green-1 q-mb-xl q-pl-xl q-pl-md-md">
      <q-card-section class="column justify-center col-6 q-pl-xl">
        <div class="banner-ttl font-playfair">Одна гроздь<br>И море эмоций</div>
        <div class="text-body1 q-my-lg font-raleway">Цветы - лучший подарок и изысканный комплимент. Знакомьтесь с ассортиментом товаров и выбирайте лучшее!</div>
        <q-btn flat no-caps class="btn-catalog q-py-sm text-white bg-grey-9 text-weight-medium font-raleway" to="/catalog">Подобрать букет</q-btn>
      </q-card-section>
      <q-img class="col-6" src="../statics/catalog_bouquet.png" :ratio="486/461"></q-img>
    </q-card>
    <div class="q-my-lg">
      <div class="text-h4 font-playfair q-mb-lg">Популярные композиции</div>
      <div class="row q-col-gutter-md">
        <div class="col-4" v-for="product in popularProducts" :key="product.id">
          <card-popular :item="product"/>
        </div>
      </div>
    </div>
    <div class="q-my-xl">
      <div class="row relative-position q-pb-xl">
        <div class="col-12 row justify-center q-my-xl">
          <div class="col-5 column justify-center q-pr-xl">
            <div class="text-h4 font-playfair q-mb-lg">Только свежие цветы</div>
            <div class="text-body1 font-raleway">Мы делаем нечто новое из уже давно приевшихся, обычных букетов. Принесите своим близким радость, сделайте идеальный подарок, который понравится каждой...</div>
          </div>
          <q-img class="col-4" src="../statics/info_bouquet.png"></q-img>
        </div>
        <div class="banner-fon col-3 bg-pink-1 absolute-top-right"></div>
      </div>
    </div>
  </q-page>
</template>

<script>
import cardPopular from '../components/Card_Popular'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'PageIndex',
  components: {
    cardPopular
  },
  computed: {
    ...mapGetters({
      popularProducts: 'products/popularProducts'
    })
  },
  methods: {
    ...mapActions({
      getInfo: 'products/getPopular'
    })
  },
  mounted () {
    this.getInfo()
  }
}
</script>

<style scoped lang="sass">
.banner-fon
  height: 277px
  z-index: -200
</style>
