<template>
  <q-page class="q-mt-md font-raleway">
    <div class="row">
      <q-card flat class="col-12">
        <q-tabs
          v-model="tab"
          no-caps
          dense
          class="text-black"
          active-color="black"
          indicator-color="black"
          align="justify"
        >
          <q-tab name="info" label="Мои данные" />
          <q-tab name="history" label="История заказов" />
          <q-tab name="favorites" label="Избранное" />
        </q-tabs>

        <q-tab-panels class="q-my-lg" v-model="tab" animated>
          <q-tab-panel class="q-pa-none no-scroll col-12" name="info">
            <div class="text-caption text-weight-bold q-mb-md">{{userData.first_name}} {{userData.last_name}}</div>
            <div v-if="userData.phone_number !== '+'" class="text-caption text-weight-bold q-mb-md">{{userData.phone_number}}</div>
            <div class="text-caption text-weight-bold q-mb-md">{{userData.email}}<span class="q-ml-md text-blue-4 cursor-pointer">Изменить</span></div>
            <div class="text-caption text-weight-bold q-mb-lg">Пароль<span class="q-ml-md text-blue-4 cursor-pointer">Изменить</span></div>
            <q-separator/>
            <div class="column">
              <q-input dense filled class="q-mt-lg" v-model="userInfo.first_name" label="Имя" />
              <q-input dense filled class="q-mt-lg" v-model="userInfo.last_name" label="Фамилия" />
              <q-input dense filled class="q-mt-lg" v-model="userInfo.phone_number" label="Номер телефона" />
            </div>
            <q-btn flat no-caps class="q-mt-xl q-px-xl bg-grey-8 text-white" @click="save">Сохранить</q-btn>
            <div class="text-caption text-weight-bold q-mb-md">После сохранения обновите страницу</div>
          </q-tab-panel>

          <q-tab-panel class="col-6" name="history">
            <div v-for="i in 2" :key="i.index">
              <div class="row q-pt-sm" v-for="i in 3" :key="i.index">
                  <q-img class="basket-img" src="../statics/slider/slide2.png" :ratio="80/80"></q-img>
                    <div class="column q-pl-lg">
                      <div class="text-body1 font-playfair q-pr-xl">Корзина с розами и пионами</div>
                      <div class="text-weight-bold">2998 руб.</div>
                      <div class="q-mt-sm text-caption text-grey-3">Количество: 2</div>
                    </div>
              </div>
              <div class="row justify-end text-caption text-grey4">Итого:<span class="q-ml-sm text-body2 text-black text-weight-bolder">8994 руб.</span></div>
              <q-separator class="q-my-lg"/>
            </div>
          </q-tab-panel>

          <q-tab-panel class="col-12 row q-col-gutter-lg" name="favorites">
            <q-card class="col-3 no-shadow column" v-for="i in 8" :key="i.index">
              <q-img src="../statics/slider/slide1.png"></q-img>
              <q-card-section class="q-pa-none q-mt-sm q-mb-xs">Корзинка с розами и пионами</q-card-section>
              <q-card-section class="q-pa-none text-weight-bold">1499 руб.</q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'LCabinet',
  data () {
    return {
      tab: 'info',
      userData: null,
      userInfo: {
        first_name: null,
        last_name: null,
        phone_number: null
      },
      info: {
        data: null,
        id: null
      },
      historyOrders: null
    }
  },
  methods: {
    ...mapActions({
      getUser: 'auth/user/getUser',
      updateAuth: 'auth/auth/updateAuth',
      updateInfo: 'auth/user/updateInfo',
      getHistory: 'auth/user/getHistory'
    }),
    save () {
      this.info.data = this.userInfo
      this.info.id = this.userData.id
      this.updateInfo(this.info)
      this.getUser().then(() => {
        this.userData = this.$store.getters['auth/user/user']
      })
    }
  },
  mounted () {
    this.updateAuth().then(() => {
      this.getUser()
      this.getHistory()
        .then(() => {
          this.userData = this.$store.getters['auth/user/user']
          this.historyOrders = this.$store.getters['auth/user/history']
        })
    })
  }
}
</script>

<style scoped>

</style>
