<template>
    <q-page class="q-mt-md font-raleway">
      <div class="row q-col-gutter-x-xl">
        <div class="col-5">
          <q-carousel
            class="slider"
            animated
            v-model="slide"
            arrows
            navigation
            infinite
          >
            <q-carousel-slide :name="1" img-src="../statics/slider/slide1.png" />
          </q-carousel>
        </div>
        <div class="col-7">
          <div class="column q-ml-md">
            <div class="font-playfair text-h4 q-mb-lg">{{productInfo.name}}</div>
            <div class="q-mb-xl font-raleway">{{productInfo.description}}</div>
            <div class="text-h5 row q-gutter-x-sm items-center q-mb-md">
              <div class="q-pt-xs cursor-pointer" @click="increasePrice">+</div>
              <div class="font-cleanvel">{{count}}</div>
              <div class="cursor-pointer" @click="decreasePrice">-</div>
            </div>
            <div class="row">
              <q-btn flat no-caps class="bg-pink-1 font-raleway text-weight-medium q-mr-xs" @click="add">Добавить в корзину</q-btn>
              <q-btn flat no-caps class="bg-grey-1 font-raleway q-px-sm" icon="img:../statics/icons/like.svg"/>
              <div class="text-h4 text-weight-medium font-cleanvel q-ml-lg">{{itog}} <span class="text-h5 text-weight-bold">руб.</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="q-mt-xl q-pl-md font-playfair text-h5">Вам также может понравится</div>
      <div class="row q-mt-lg q-mb-xl q-pl-md relative-position">
        <div class="btn-slider col row items-center absolute-left"><q-btn :disabled="disabledBack" round flat class="trans bg-pink-1" icon="img:../statics/icons/arrow.svg" @click="slideRev"></q-btn></div>
        <div class="col-12 row justify-center q-col-gutter-lg">
          <div class="col-3" v-for="im in img.slice(startSlide, lastSlide)" :key="im.id">
            <q-img :src="im" />
          </div>
        </div>
        <div class="btn-slider col row items-center absolute-right"><q-btn :disabled="disabledForward" round flat class="bg-pink-1" icon="img:../statics/icons/arrow.svg" @click="slideImg"></q-btn></div>
      </div>
    </q-page>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'PageProduct',
  data () {
    return {
      slide: 1,
      img: [
        '../statics/slider/slide1.png',
        '../statics/slider/slide2.png',
        '../statics/slider/slide3.png',
        '../statics/slider/slide4.png',
        '../statics/slider/slide5.png',
        '../statics/slider/slide6.png'
      ],
      startSlide: 0,
      lastSlide: 4,
      productInfo: null,
      product: null,
      count: 1
    }
  },
  computed: {
    disabledBack: function () {
      if (this.startSlide === 0) {
        return true
      } else {
        return false
      }
    },
    disabledForward: function () {
      if (this.lastSlide === this.img.length) {
        return true
      } else {
        return false
      }
    },
    itog: function () {
      return this.productInfo.price * this.count
    }
  },
  methods: {
    ...mapActions({
      getInfo: 'products/getProducts',
      addProduct: 'basket/addProduct'
    }),
    slideImg () {
      this.startSlide += 1
      this.lastSlide += 1
    },
    slideRev () {
      this.startSlide -= 1
      this.lastSlide -= 1
    },
    increasePrice () {
      this.count += 1
    },
    decreasePrice () {
      if (this.count > 1) {
        this.count -= 1
      }
    },
    add () {
      this.product = this.productInfo
      this.product.count = this.count
      this.addProduct(this.product)
    }
  },
  beforeMount () {
    this.getInfo().then(() => {
      this.productInfo = this.$store.getters['products/products'].find(product => product.slug === this.$route.params.slug)
    })
  }
}
</script>

<style scoped lang="sass">
.btn-slider
  z-index: 200
</style>
