<template>
  <router-link :to="{name: 'bouquet.page', params: {slug: item.slug, id: item.id}}">
    <q-card class="no-shadow column">
      <q-img src="../statics/slider/slide1.png"></q-img>
      <q-card-section class="q-pa-none q-mt-sm q-mb-xs">{{item.name}}</q-card-section>
      <q-card-section class="q-pa-none text-weight-bold">{{item.price}} руб.</q-card-section>
    </q-card>
  </router-link>
</template>

<script>
export default {
  name: 'Card_Product',
  props: ['item']
}
</script>

<style scoped>

</style>
