<template>
  <q-card class="no-shadow font-raleway column items-center">
    <q-img src="../statics/popular/popular3.png"></q-img>
    <q-card-section class="q-pa-none q-my-md text-body1 text-weight-bold">{{item.name}}</q-card-section>
    <q-btn flat no-caps class="bg-pink-1" icon="img:../statics/icons/basket.svg"><span class="q-ml-md">{{item.price}} руб.</span></q-btn>
  </q-card>
</template>

<script>
export default {
  name: 'Card_Popular',
  props: ['item']
}
</script>

<style scoped>

</style>
