<template>
  <div class="modalWindow fixed flex flex-center row">
    <div class="modalDialog absolute col-4 bg-white font-raleway q-px-xl q-pb-xl q-pt-lg">
      <div class="font-raleway text-body1 text-grey-5 absolute-top-right q-pr-md q-pt-sm cursor-pointer" @click="$emit('closeModalRegister')">X</div>
      <div class="modal-ttl q-mb-lg q-mt-md row justify-center text-h5 text-weight-bold">Регистрация</div>
      <div class="q-mx-sm">
        <q-input dense outlined v-model="user.first_name" class="q-mb-lg" label="Имя" />
        <q-input dense outlined v-model="user.last_name" class="q-mb-lg" label="Фамилия" />
        <q-input dense outlined v-model="user.email" class="q-mb-lg" label="Электронная почта" />
        <q-input dense outlined v-model="user.password" class="q-mb-lg" label="Пароль" />
        <q-input dense outlined v-model="user.password_confirmation" label="Повторите пароль" />
      </div>
      <div class="column" @click="$emit('closeModalRegister')"><q-btn flat no-caps class="q-my-lg bg-grey-8 text-white text-body1 q-px-xl font-raleway" label="Войти" @click="registerUser"/></div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'ModalVue',
  data () {
    return {
      user: {
        first_name: null,
        last_name: null,
        email: null,
        password: null,
        password_confirmation: null
      }
    }
  },
  methods: {
    ...mapActions({
      register: 'auth/auth/register'
    }),
    registerUser () {
      this.register(this.user)
    }
  }
}
</script>

<style scoped lang="sass">
  .modalWindow
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2000
    background-color: rgba(0, 0, 0, 0.6)

    .modalDialog
      heigth: 313px
      border-radius: 4px
</style>
