<template>
  <div class="modalWindow fixed flex flex-center row">
    <div class="modalDialog absolute col-5 bg-white font-raleway q-px-xl q-pb-xl q-pt-lg">
      <div class="font-raleway text-body1 text-grey-5 absolute-top-right q-pr-md q-pt-sm cursor-pointer" @click="$emit('closeModalLogin')">X</div>
      <div class="modal-ttl q-mb-lg q-mt-md row justify-center text-h5 text-weight-bold">Вход</div>
      <div class="q-mx-lg">
        <q-input dense outlined v-model="user.email" class="q-mb-lg" label="Электронная почта" />
        <q-input dense outlined v-model="user.password" label="Пароль" />
      </div>
      <div class="row justify-center" @click="$emit('closeModalLogin')"><q-btn flat no-caps class="q-my-lg bg-grey-8 text-white text-body1 q-px-xl font-raleway" label="Войти" @click="loginUser"/></div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'ModalVue',
  data () {
    return {
      user: {
        email: null,
        password: null
      }
    }
  },
  methods: {
    ...mapActions({
      login: 'auth/auth/login',
      getUser: 'auth/user/getUser'
    }),
    loginUser () {
      this.login(this.user).then(() => {
        this.getUser()
      })
    }
  }
}
</script>

<style scoped lang="sass">
.modalWindow
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2000
  background-color: rgba(0, 0, 0, 0.6)

  .modalDialog
    heigth: 313px
    border-radius: 4px
</style>
