@font-face
  font-family: 'Raleway'
  src: url("../statics/fonts/Raleway-Regular.ttf")

.font-raleway
  font-family: 'Raleway'

@font-face
  font-family: Playfair
  src: url("../statics/fonts/PlayfairDisplay-Regular.otf")

.font-playfair
  font-family: 'Playfair'

.font-montserrat
  font-family: 'Montserrat'

.text-weight-medium
  font-weight: 500 !important

.decoration:hover
  height: 20px
  border-bottom: 1px solid black

.decoration-footer:hover
  height: 20px
  border-bottom: 1px solid white

.footer
  padding: 0 100px

.content
  margin: 0 50px !important

.page-content
  margin: 0

.header
  padding: 0 50px

.logo
  max-width: 122px

.slider
  max-width: 385px

/*Сделать медиа для слайдера*/

a
  text-decoration: none
  color: black

.banner-ttl
  font-size: 42px

.btn-catalog
  max-width: 223px

.trans
  transform: rotate(180deg)
  transition: .3s

.sort
  span:hover
    text-decoration: underline

.tabActive
  box-shadow: none
  background-color: $green-1
  border-radius: 0

.tabPassive
  border: 1px solid rgba(183, 183, 183, 0.9)
  box-shadow: none
  border-radius: 0

.q-field__control
  color: $grey-7

.payment
  border: 1px solid $grey-7
  border-radius: 4px

.basket-img
  max-width: 80px

.modal-header, .modal-footer
  border: none

.q-tab__label
  font-size: 16px
  font-weight: 600

.menu-lc
  .q-icon
    width: 10%
    height: 10%

.badge
  border-radius: 50%

