<template>
  <q-layout view="hhh lpR fff">

    <q-header class="header bg-white font-raleway q-mb-sm content">
      <q-toolbar class="text-black q-my-md q-px-none">
        <q-toolbar-title class="col-2">
          <router-link to="/"><q-img class="logo" src="../statics/logo/logo.svg" :ratio="122/76"></q-img></router-link>
        </q-toolbar-title>
        <q-toolbar-title class="col-5 q-pl-sm-md">
          <div class="nav">
            <router-link to="/catalog"><span class="decoration text-black text-body2">Каталог</span></router-link>
            <router-link to="/info"><span class="decoration text-black text-body2 q-mx-lg">Доставка и оплата</span></router-link>
            <router-link to="/about"><span class="decoration text-black text-body2">О нас</span></router-link>
          </div>
        </q-toolbar-title>
        <q-toolbar-title class="col-5 row justify-end">
          <div class="nav">
            <router-link v-if="notHighLight" to="/basket"><q-btn flat round icon="img:../statics/icons/basket.svg" @mouseover="notHighLight = false"><q-badge class="q-mt-xs badge" color="grey-8" floating transparent>
              {{orders}}
            </q-badge></q-btn></router-link>
            <router-link v-else to="/basket"><q-btn round flat icon="img:../statics/icons/basket_highlight.svg" @mouseout="notHighLight = true"><q-badge class="q-mt-xs badge" color="grey-8" floating transparent>
              {{orders}}
            </q-badge></q-btn></router-link>
            <span v-if="!isAuth" class="decoration text-black text-body2 q-mx-lg cursor-pointer" @click="openModalLogin = true">Войти</span>
            <span v-if="!isAuth" class="decoration text-black text-body2 cursor-pointer" @click="openModalRegister = true">Зарегистрироваться</span>
            <q-btn v-if="isAuth" outline no-caps color="black" class="q-ml-md menu-lc text-weight-bolder" label="Личный кабинет" icon-right="img:../statics/icons/menu.svg">

              <q-menu fit>
                <q-list style="min-width: 100px">
                  <q-item clickable>
                    <router-link to="/cabinet"><q-item-section class="text-black text-body2 q-pt-sm">Профиль</q-item-section></router-link>
                  </q-item>
                  <q-separator />
                  <q-item clickable>
                    <router-link to="/"><q-item-section class="text-black text-body2 q-pt-sm" @click="logout">Выйти</q-item-section></router-link>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="content page-content">
      <router-view />
      <modal-login v-if="openModalLogin" @closeModalLogin="closeModalLogin" />
      <modal-register v-if="openModalRegister" @closeModalRegister="closeModalRegister" />
    </q-page-container>

    <q-footer class="foot-indent bg-grey-9 text-white font-raleway">
      <q-toolbar class="footer q-my-xl row items-center">
        <q-toolbar-title class="col-4">
          <q-img class="logo logo-footer" src="../statics/logo/logo_inver.svg" :ratio="122/76"></q-img>
        </q-toolbar-title>
        <q-toolbar-title class="col-4 row justify-center">
          <div class="nav column q-ml-xl items-start">
            <router-link to="/catalog"><span class="decoration-footer text-white text-body2">Каталог</span></router-link>
            <router-link to="/info"><span class="decoration-footer text-white text-body2">Доставка и оплата</span></router-link>
            <router-link to="/about"><span class="decoration-footer text-white text-body2">О нас</span></router-link>
          </div>
        </q-toolbar-title>
        <q-toolbar-title class="col-4">
          <div class="column">
            <div class="row justify-end text-body1 q-mb-sm">Мы в социальных сетях</div>
            <div class="row justify-end q-pr-sm">
              <q-btn flat icon="img:../statics/icons/insta.svg"/>
              <q-btn flat icon="img:../statics/icons/vk.svg"/>
              <q-btn flat icon="img:../statics/icons/twitter.svg"/>
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import ModalLogin from '../components/ModalLogin'
import ModalRegister from '../components/ModalRegister'
import { mapGetters, mapActions } from 'vuex'
export default {
  data () {
    return {
      notHighLight: true,
      openModalLogin: false,
      openModalRegister: false,
      userData: null,
      orders: 0
    }
  },
  computed: {
    ...mapGetters({
      isAuth: 'auth/auth/isAuth'
    })
  },
  components: {
    ModalLogin, ModalRegister
  },
  methods: {
    ...mapActions({
      logout: 'auth/auth/logout',
      updateAuth: 'auth/auth/updateAuth',
      getUser: 'auth/user/getUser'
    }),
    closeModalLogin () {
      this.openModalLogin = false
    },
    closeModalRegister () {
      this.openModalRegister = false
    }
  },
  mounted () {
    this.updateAuth().then(() => {
      if (localStorage.getItem('user-token')) {
        this.getUser().then(() => {
          this.userData = this.$store.getters['auth/user/user'].then(() => {
            this.orders = this.$store.getters['auth/user/orders']
          })
        })
      }
    })
  }
}
</script>
